
.gwt-MenuBar.gwt-MenuBar-horizontal {
    background: #A38272;
    border: #A38272;
}

.verticalPanel {
  background: #E2D8D3;
}

.verticalPanel button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.verticalPanel table tbody tr {
  display: block;
  padding-top: 0.5rem;;
}