/* For index.html */
.gwt-MenuBar.gwt-MenuBar-horizontal {
  border: #a38272;
  background: #a38272;
  font-size: 1rem !important;
}

.menuPopupContent td.gwt-MenuItem:hover {
  color: white;
  background: #a38272;
}

.gwt-MenuBar > table {
  margin-left: 0.2rem;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background: #8c634f !important;
  color: white !important;
}

.verticalPanel {
  background: #e2d8d3;
}

.verticalPanel button {
  display: block;
  margin: 2rem auto;
}

.gwt-Label {
  margin-left: 0.5rem;
  border: 1px solid #DED1C7;
}

.gwt-Label:hover {
  color:white !important;
  background: #a38272;
  border-radius: 0.2rem;
  border: 1px solid #8c634f;
}

.verticalPanel .gwt-Label {
  margin-left: 1rem;
}

#painel div[class="gwt-Label"] {
  color: #8c634f;
  font-weight: bold;
  font-size: 1.1rem;
}

div:has(> .gwt-Label) {
  border-color: #e2d8d3 !important;
  background-color: #e2d8d3 !important;
}

input::selection {
  color: white;
  background-color: #8c634f;
}

#painel .topButton {
  background-color: #a38272;
  color: white;
  margin-left: 0.9rem;
  padding: 0.5rem;
}

#painel .topButton-red {
  background-color: rgb(190, 100, 100);
  color: white;
  margin-left: 0.9rem;
  padding: 0.5rem;
}

/* For iframe.html */
.button {
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  color: white;
  background: #a38272;
  border: 1px solid #8c634f;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: "Ubuntu", "Roboto", "Open Sans", "Microsoft YaHei", "sans-serif";
}
.button div {
  white-space: nowrap;
}
.button:hover {
  background: #b49181;
  border-color: #8c634f;
}
.button:active {
  background: #8c634f;
}
