.gwt-MenuBar.gwt-MenuBar-horizontal {
  background: #a38272;
  border: #a38272;
  font-size: 1rem !important;
}

.menuPopupContent td.gwt-MenuItem:hover {
  background: #a38272;
  color: white;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background: #8c634f !important;
  color: white !important;
}

.verticalPanel {
  background: #e2d8d3;
}

.verticalPanel button {
  display: block;
  margin: 2rem auto;
}

.gwt-Label {
  margin-left: 0.5rem;
}

.verticalPanel .gwt-Label {
  margin-left: 1rem;
}

div[class="gwt-Label"] {
  color: #8c634f;
  font-weight: bold;
  font-size: 1.1rem;
}

:has(> .gwt-Label) {
  background-color: #e2d8d3 !important;
}

#painel .topButton {
  background-color: #a38272;
  color: white;
  margin-left: 0.9rem;
  padding: 0.5rem;
}

#painel .topButton-red {
  background-color: rgb(190, 100, 100);
  color: white;
  margin-left: 0.9rem;
  padding: 0.5rem;
}
